/MemberController.class
/OrderController.class
/ProductController.class
/LoginController.class
/LogoutController.class
/AddMovieController.class
/BookingController.class
/SelectSeatController.class
/SeatAndFoodController.class
/CheckoutController.class
/BrowseController.class
/MovieListController.class
/OrderListController.class
