/MemberController.class
/OrderController.class
/ProductController.class
/LoginController.class
/LogoutController.class
/AddMovieController.class
/BookingController.class
/SelectSeatController.class
/SeatAndFoodController.class
/CheckoutController.class
/BrowseController.class
/MovieListController.class
/OrderListController.class
/RefundController.class
/SearchController.class
/EditController.class
/EditMovieController.class
/MemberListController.class
/RegisterController.class
/EditMemberController.class
